.Mask {
    width: 80vw;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Mask:hover,
.Mask:active {
    background-color: #C0DDF5;
}

.Mask p{
    margin: 16px 0;
    color: rgb(138, 138, 138);
}